<template name="teacherdashboard">

    <div class="row">
      {{>infotiles}}
    </div>

    <div class="row">

      <div class="col-lg-8">
        {{> quiztable}}
      </div>

      <div class="col-lg-4">

        <div class="row">
          {{> currentquiz}}
        </div>

        <div class="row">
          {{> addquiz}}
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-lg-6">
        {{> studenttable}}
      </div>
      <div class="col-lg-6">
        {{> placeholderwidgetmedium}}
      </div>

    </div>

</template>
