<template name="infotiles">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">

        <div class="widget-content">
          <div class="widget-icon green pull-left ng-scope" style="font-style: italic">
            <i class="fa fa-users"></i>
          </div>

          <div class="title">
            80
          </div>

          <div class="comment">
            Leerlingen
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">

        <div class="widget-content">
          <div class="widget-icon red pull-left" style="font-style: italic">
            <i class="fa fa-sitemap"></i>
          </div>

          <div class="title">
            16
          </div>

          <div class="comment">
            Teams
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">

        <div class="widget-content">
          <div class="widget-icon orange pull-left" style="font-style: italic">
            <i class="fa fa-graduation-cap"></i>
          </div>

          <div class="title">
            225
          </div>

          <div class="comment">
            Quizzes
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">

        <div class="widget-content">
          <div class="widget-icon blue pull-left" style="font-style: italic">
            <i class="fa fa-question-circle"></i>
          </div>

          <div class="title">
            62
          </div>

          <div class="comment">
            Vragen
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
