<template name="powerTable">
  <div class="widget">

    <div class="widget-header">
        <i class="fa fa-bolt"></i> Superkrachten
    </div>
    <div class="widget-body no-padding">
        <div class="widget-content" style="height:298px; overflow-y: auto">
          <table class="table table-hover table-striped">
            <thead>
                <tr>
                  <th>Kracht</th>
                  <th>Berschrijving</th>
                  <th>Aantal keer te gebruiken</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
          </table>
        </div>
    </div>
  </div>
</template>
