<template name="studentlist">
  <div class="col-lg-3 col-md-6 col-xs-12 hidden-sm hidden-xs">
    <div class="widget">
      <div class="widget-body">
        {{#each allStudents}}
        <div class="widget-content clickable">
          <div class="widget-icon {{color}} pull-left" style="font-style: italic">
            <i class="fa fa-users"></i>
          </div>

          <div class="title">
            {{name}}
          </div>

          <div class="comment">
            {{usernameOfId user_id}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
