<template name="sidebar">
    <ul class="sidebar">
        <li class="sidebar-main">
          <a href="#" class="toggle-sidebar-area">
            {{sidebarTitle}}
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
      {{#each sections}}
          <li class="sidebar-title"><span>{{name}}</span></li>
          {{#each links}}
          <li class="sidebar-list">
            <a href="{{url}}">{{name}} <span class="menu-icon {{icon}}"></span></a>
          </li>
          {{/each}}
      {{/each}}
    </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rahazan/quizoo" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
</template>
