.btn-answerbutton{
  padding: 18px 28px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn-lightblue{
  background-color: #99CCFF;
}

.btn-lightgreen{
  background-color:#66FF66;
}

.btn-lightyellow{
  background-color: #FFFF66;
}

.btn-lightred{
  background-color: #FF5C33;
}

.btn-responsive-font{
  font-size: 3em;
}

@media (max-width: 768px) {
.btn-responsive {
  font-size:150%;
  line-height: 1;
}
}

@media (min-width: 769px) and (max-width: 992px) {
.btn-responsive {
  font-size:200%;
  line-height: 1.2;
}
}

@media (min-width: 993px) {
.btn-responsive {
  font-size:300%;
  line-height: 1.2;
}
}
