.hide-last tbody tr:hover td:last-child {
      visibility: visible;
      padding: 0px;
      padding-top: 2px;
      padding-bottom: 2px;
}

.hide-last tbody tr td:last-child {
    color: #4d4d4d;
    text-decoration:none;
    visibility: hidden;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.btn.outline {
    background: none;
    /*padding: 12px 22px;*/
}

.btn-danger.outline {
    border: 1px solid #D9534F;
    color: #D9534F;
}

.btn-danger.outline:active, .btn-danger.outline.active {
    border-color: #D9534F;
    color: #D9534F;
    box-shadow: none;
}


.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
    color: #D9534F;
    border-color: #D9534F;
    background: #Fee;
}

.btn-answerbutton{
  padding: 18px 28px;
  font-size: 100px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.clickable {
  cursor: pointer;
}

.big-icon:before{
  font-size: 500px;
}

.green-icon{
  color: #00FF00;
}

.red-icon{
  color: #FF0000;
}

.yellow-icon{
  color: #FFFF00;
}
.answer-selected {
  background: #10ADED   !important;
}
