<template name = "answerButtons">

  {{> answerButton
  answer="terrilan"
  color = "btn-lightblue"
  }}

  {{> answerButton
  answer="very lan"
  color = "btn-lightyellow"
  }}

  {{> answerButton
  answer="yes indeed"
  color = "btn-lightgreen"
  }}

  {{> answerButton
  answer="not lan"
  color = "btn-lightred"
  }}



</template>

<template name="answerButton">
  <div class="col-lg-6 col-md-12 col-xs-12">
    <div class="btn-block btn {{color}} btn-answerbutton">

        <div class="title">
          {{answer}}
        </div>



    </div>
  </div>
</template>
