<template name="quizSolutions">

  {{#if solution}}
  {{> quizSolution
	answer="terrilan"
	amount = "Aantal keer geantwoord: 1"
    color="red"
	icon="fa fa-question-circle"}}
	
  {{> quizSolution
	answer="very lan"
	amount = "Aantal keer geantwoord: 3"
    color="red"
	icon="fa fa-question-circle"}}
	
  {{> quizSolution
	answer="yes indeed"
	amount = "Aantal keer geantwoord: 3"
    color="green"
	icon="fa fa-question-circle"}}
	
  {{> quizSolution
	answer="not lan"
	amount = "Aantal keer geantwoord: 7"
    color="red"
	icon="fa fa-question-circle"}}
	
   {{else}}
   {{> quizSolution
	answer="terrilan"
	amount = "A"
    color="blue"
	icon="fa fa-question-circle"}}
	
  {{> quizSolution
	answer="very lan"
	amount = "B"
    color="blue"
	icon="fa fa-question-circle"}}
	
  {{> quizSolution
	answer="yes indeed"
	amount = "C"
    color="blue"
	icon="fa fa-question-circle"}}
	
  {{> quizSolution
	answer="not lan"
	amount = "D"
    color="blue"
	icon="fa fa-question-circle"}}
	
  {{/if}}

</template>

<template name="quizSolution">
  <div class="col-lg-6 col-md-12 col-xs-12 hidden-sm hidden-xs">
    <div class="widget">
      <div class="widget-body">

        <div class="widget-content">
          <div class="widget-icon {{color}} pull-left" style="font-style: italic">
            <i class="{{icon}}"></i>
          </div>

          <div class="title">
            {{answer}}
          </div>

          <div class="comment">
            {{amount}}
          </div>

         
        </div>
      </div>
    </div>
  </div>
</template>