<template name="quizTitle">
  {{#with getQuiz quizInstance.quiz_id}}
    <div class="col-lg-6 col-md-12 col-xs-12 hidden-sm hidden-xs">
      <div class="widget">
        <div class="widget-body">

          <div class="widget-content">
            <div class="widget-icon blue pull-left" style="font-style: italic">
              <i class="fa fa-graduation-cap"></i>
            </div>

            <div class="title">
              {{name}}
            </div>

            <div class="comment">
              {{name}}
            </div>


          </div>
        </div>
      </div>
    </div>
  {{/with}}
</template>
