<template name="studentAnswerOption">
  <div class="col-lg-6 col-md-12 col-xs-12">
    <div class="widget">
      <div class="widget-body clickable {{color}} answer-option">

        <div class="widget-content">
          <div class="widget-icon pull-left" style="font-style: italic">
            <i class="fa fa-question-circle"></i>
          </div>
          <div class="title">
            {{value}}
          </div>

          <div class="comment">
            {{value}}
          </div>


        </div>
      </div>
    </div>
  </div>
</template>
