<template name="studentQuiz">

  <div class="row">
      {{>quizTitle}}
  </div>

  {{#with getCurrentQuestion quizInstance}}
  <div class="row">
    {{#if equals ../quizInstance.status 3}}
      {{#if answeredCorrectly ../quizInstance._id}}
        {{>answeredFeedback correct=true}}
      {{else}}
        {{>answeredFeedback correct=false}}
      {{/if}}
    {{else}}
      {{>studentQuizQuestions}}
    {{/if}}
  </div>
  {{/with}}
</template>



<template name="studentQuizQuestions">


  {{#each answers}}
    {{#if isSelectedAnswer ../../quizInstance._id _id}}
      {{>answerButton _id=_id value=value color="btn-lightgreen" quizInstance=../../quizInstance}}
    {{else}}
        {{>answerButton _id=_id value=value color="btn-lightblue" quizInstance=../../quizInstance}}
    {{/if}}

  {{/each}}
</template>
