<template name="teacherQuiz">
    {{#if quizCompleted quizInstance}}
      {{>quizEndScreen }}
    {{else}}
      <div class="row">
          {{>quizTitle}}
      </div>
        {{#with getCurrentQuestion quizInstance}}
        	<div class="row">
                {{>questionBoxes}}
          </div>

        	<div class="row">
            {{#if equals ../quizInstance.status 3}}
              {{> teacherQuizAnswers}}
            {{else}}
              {{> teacherQuizQuestions}}
            {{/if}}
        	</div>

        {{/with}}
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" style="width:{{percentageOfQuizCompleted quizInstance}}%; min-width:4em">
            {{percentageOfQuizCompleted quizInstance}}% voltooid
          </div>
        </div>
    {{/if}}
</template>
