<template name="teacherQuiz">
    <div class="row">
        {{>quizTitle}}
    </div>

    {{#with getCurrentQuestion quizInstance}}
  	<div class="row">
          {{>questionBoxes}}
    </div>
  	<div class="row">
      {{#if equals ../quizInstance.status 3}}
        {{#each answers}}
              {{#if correct}}
                {{>answerOption value=value color="green"}}
              {{else}}
                {{>answerOption value=value color="red"}}
              {{/if}}
        {{/each}}
      {{else}}
        {{#each answers}}
              {{>answerOption value=value color="blue" }}
        {{/each}}
      {{/if}}
  	</div>
    {{/with}}
  	<div class="row">

      <div class="col-lg-12 text-center pull-right">

    			<div class="btn-group pull-right">
            {{#if equals quizInstance.status 3}}
                <a  class="btn btn-lg btn-primary show-answer" disabled role="button" >Antwoord</a>
                <a class="btn btn-lg btn-primary next-question" role="button" >Volgende vraag</a>
            {{else}}
                <a  class="btn btn-lg btn-primary show-answer" role="button" >Antwoord</a>
            {{/if}}
          </div>
  		</div>




      </div>
</template>
