<template name="teacherQuiz">
    <div class="row">
        {{>quizTitles}}
    
    </div>

	<div class="row">
        <div style="background:transparent !important" class="jumbotron">
    
		</div>
    </div>
	
	<div class= "row">
		
		{{>questionBoxes}}
	
	</div>
	
	<div class="row">
        <div style="background:transparent !important" class="jumbotron">
    
		</div>
    </div>
	
	
	<div class="row">
        <div class="col-lg-11">
	  
        </div>


        <div class="col-lg-1 text-center">
	  
            <button type="button" class="btn btn-lg btn-primary pull-right">
              antwoord
            </button>
        </div>

      

    </div>
	
	
</template>
