<template name="createQuiz">

  <div class="widget">

    <div class="widget-header">
        <i class="fa fa-plus-circle"></i> Quiz aanmaken
    </div>

    <div class="widget-body xsmall">

      <form>
        <div class="input-group">
          <input type="text" name="quizName" class="form-control" placeholder="Naam quiz">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Creëer</button>
          </span>
        </div>
      </form>

    </div>

  </div>



</template>
