<template name="quiztable">
  <div class="widget">

    <div class="widget-header">
        <i class="fa fa-puzzle-piece"></i> Quizzes
    </div>

    <div class="widget-body no-padding">
        <div class="widget-content" style="height:298px">
            <table class="table table-hover table-striped">
                <tbody>
                  <tr>
                    <th>Titel</th>
                    <th>Aantal vragen</th>
                    <th>Aangepast</th>
                    <th>Aangemaakt</th>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</template>
