<template name="quiztable">
  <div class="widget">

    <div class="widget-header">
        <i class="fa fa-puzzle-piece"></i> Quizzes
    </div>
    <div class="widget-body no-padding">
        <div class="widget-content" style="height:298px; overflow-y: auto">
          <table class="table table-hover table-striped">
            <thead>
                <tr>
                  <th>Titel</th>
                  <th>Aantal vragen</th>
                  <th>Aangepast</th>
                  <th>Aangemaakt</th>
                </tr>
            </thead>

            <tbody>
              {{#each quiz}}
                <tr>
                  <td>{{name}}</td>
                  <td class="text-center">{{questions.length}}</td>
                  <td>{{prettifyDate dateModified}}</td>
                  <td>{{prettifyDate dateCreated}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</template>
