<template name="studenttable">
  <div class="widget">
    <div class="widget-header">
      <i class="fa fa-users"></i> Leerlingen

      <div class="pull-right">
        <input class="form-control input-sm" placeholder="Zoeken" type="text">
      </div>
    </div>

    <div class="widget-body medium no-padding">
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="text-center"><span class="menu-icon fa fa-star"></span></th>
                <th>Naam</th>
                <th>Team</th>
                <th>Account</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="text-center">0</td>
                <td>Jorrie Jorrie</td>
                <td>Team-O</td>
                <td>jorriej</td>
              </tr>

              <tr>
                <td class="text-center">200</td>
                <td>Lekker Freddie</td>
                <td>Duurt Lan</td>
                <td>lekkerf</td>
              </tr>

              <tr>
                <td class="text-center">30</td>
                <td>Nuc Longen</td>
                <td>Duurt Lan</td>
                <td>nucl</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="widget"></div>
  </div>
</template>
