<template name="teamList">

{{#each allTeams}}
  <div class="col-lg-3 col-md-6 col-xs-12">

    <div class="panel panel-default">
      <div class="panel-heading">{{name}}

        <span class="pull-right button-group">
          <button type="button pull-right" class="btn btn-xs btn-default outline"><i class="fa fa-pencil"></i></button>
        <button type="button pull-right" class="btn btn-xs btn-danger outline remove-team"><i class="fa fa-remove"></i></button>
      </span></div>

      <div class="list-group">
        {{#each student}}
        <a href="#" class="list-group-item clearfix">{{usernameOfId user_id}}
            <span class="pull-right button-group">
              <button type="button pull-right" class="btn btn-xs btn-danger outline"><i class="fa fa-remove"></i></button>
            </span>
        </a>
        {{/each}}
      </div>
    </div>

  </div>
{{/each}}
</template>
