<template name="teamList">

{{#each allTeams}}
  <div class="col-lg-4 col-md-6 col-xs-12">

    <div class="panel panel-default">
      <div class="panel-heading select-team">{{name}} {{#if isAStudentSelected}} <span style="color:#808080">(klik om toe te voegen)</span> {{/if}}

        <span class="pull-right button-group">
          <button type="button pull-right" class="btn btn-xs btn-default outline"><i class="fa fa-pencil"></i></button>
        <button type="button pull-right" class="btn btn-xs btn-danger outline remove-team"><i class="fa fa-remove"></i></button>
      </span></div>

      <div class="list-group">
        {{#each membersOfTeam this}}
        {{>memberElement teamInfo = ..
                         memberInfo = this}}
        {{/each}}
      </div>
    </div>

  </div>
{{/each}}
</template>


<template name = "memberElement">
  <a href="#" class="list-group-item clearfix">{{memberInfo.name}}
      <span class="pull-right button-group">
        <button type="button pull-right" class="btn btn-xs btn-danger outline remove-member"><i class="fa fa-remove"></i></button>
      </span>
  </a>
</template>
